<!-- Modal -->

<div class="modal fade" id="modal-delete-{{user.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">
                    Usuario: {{user.name}}
                </h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/control_user_admin" method="post">
                <div class="modal-body">
                    <h5>
                        Seguro desea eliminar el usuario

                        <input type="text" id="floatingInputid" readonly class="form-control-plaintext"
                            value="{{user.name}}" name="nombre" />

                        <input type="hidden" id="floatingInputid" readonly class="form-control-plaintext"
                            value="{{user.id}}" name="id" />
                    </h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Cerrar
                    </button>

                    <button type="submit" class="btn btn-outline btn-danger" name="action" value="eliminar">
                        Eliminar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>