<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crown Sidney Hotel</title>
    <link rel="apple-touch-icon" href="/static/img/Logo2.png">
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/Logo2.png">

    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/static/css/FormStyles.css">
    
</head>

<body>
    <main>
        <div class="contenedor__todo">
            <div class="caja__trasera">
                <div class="caja__trasera-login">
                    <h3>¿Ya tienes una cuenta?</h3>
                    <p>Inicia sesión para entrar en la página</p>
                    <button id="btn__iniciar-sesion">Iniciar Sesión</button>
                </div>
                <div class="caja__trasera-register">
                    <h3>¿Aún no tienes una cuenta?</h3>
                    <p>Regístrate para que puedas iniciar sesión</p>
                    <button id="btn__registrarse">Regístrarse</button>
                </div>
            </div>

            <!--Formulario de Login y registro-->
            <div class="contenedor__login-register">
                <!--Login-->
                <form action="/LoginForm" method="POST" class="formulario__login">
                    <h2>Iniciar Sesión</h2>
                    <input type="email" placeholder="Correo Electronico" name="Correo" required>
                    <input type="password" placeholder="Contraseña" name="Contrasena" required>
                    <button type="submit">Entrar</button>
                </form>
                <!--Register-->
                <form action="/RegisterForm" method="POST" class="formulario__register">
                    <h2>Regístrarse</h2>
                    <input type="text" placeholder="Nombre completo" name="nombre" required>
                    <input type="email" placeholder="Correo Electronico" name="correo" required>
                    <input type="date" name="edad" required>
                    <input type="text" placeholder="Cedula" name="cedula" required>
                    <input type="text" placeholder="Telefono" name="telefono" required>
                    <input type="password" placeholder="Contraseña" name="contrasena" required>
                    <label class="label_check">
                        <input type="checkbox" name="selectButton" id="checkbox" required>
                        <a id="spanText" href="#">Acepto términos y condiciones</a>
                    </label>
                    <button tye="submit" required>Regístrarse</button>
                    <label class="contenedor_contraseña">
                        <a id="contraseña" href="#">¿Olvidó su contraseña?</a>
                    </label>
                    
                </form>
            </div>
        </div>
    </main>
    <script src="/static/js/Transition.js"></script>
</body>

</html>